.card-area {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.card-box {
  width: 15rem;
  border-radius: 10px;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  margin: 1px;
  background-color: white;
  min-height: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;

  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
.card-box:hover {
  transform: scale(1.05);

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
.card-box h3 {
  text-align: center;
}
.card-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.card-title {
  color: #14260c;
  text-decoration: none;
}
.card-title,
.card-description {
  margin: 0.5rem 5%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-image: url('../assets/background.jpg');

  gap: 20px;
  justify-content: space-between;
  margin-left: 75px;
  margin-top: 50px;
}
.image-border {
  height: 180px;
  border: 1px solid black;
  display: flex;
}
.image-border img {
  width: 90%;
  margin: 0 auto;
}
.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input-wrap a {
  width: 30px;
  margin-left: auto;
  margin-right: 2px;
  /* background-color: rgba(255, 255, 255, 0.2); */
}
a img {
  width: 100%;
}
.edit-submited {
  background-color: #99bf73;
  color: rgb(244, 244, 235);
  font-weight: 800;
}
