@import url('https://fonts.googleapis.com/css?family=Poppins');
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
}
body,
* {
  font-family: 'Poppins', serif;
  text-decoration: none;
}
.main-content {
  display: flex;
  flex-grow: 1;
  background-color: rgb(2, 52, 52);

  margin: 0;
  padding: 0;
}

.read-the-docs {
  color: #888;
}

.page-layout {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.btn-low-calories {
  margin: 5px;
  background-color: #238006;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(4, 104, 4);
}

.btn-medium-calories {
  margin: 5px;
  background-color: #eec408;
  color: #335c05;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(142, 145, 5);
}

.btn-high-calories {
  margin: 5px;
  background-color: #a31f08;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(114, 34, 2);
}

/* ======== navbar======== */

.active {
  background-color: #949494;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f335a;
  position: sticky;
  top: 0;
  min-height: 70px;
}

nav .logo-image {
  height: 50px;
  width: auto;
  margin: 10px;
}

nav .title {
  font-size: 30px;
  margin: 20px;
  font-weight: bold;
  color: beige;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: beige;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: #030315;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

/* ======== sidebar ======= */

.sidebar {
  min-height: 100vh;
  max-width: 250px;
  background-color: rgba(3, 83, 243, 0.13);
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar-list .row {
  height: 100%;
  height: 60px;

  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.sidebar-list .row:hover {
  cursor: pointer;
  background-color: black;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}
.calories {
  display: flex;
  flex-direction: column;
}
.calories p {
  display: flex;
  margin: 0 auto;
  color: #246506;
}
.calories h5 {
  margin-left: 5px;
}
.btn-controler {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-top: auto;
}

.detail-btn {
  height: 40px;
  width: 150px;
  margin-bottom: auto;
  border: none;
  background: aqua;
  padding: 8px 16px;
  border-radius: 5px;
  width: 40%;
}
.delete-btn {
  height: 40px;
  width: 150px;
  margin-bottom: auto;
  border: none;
  background: rgb(255, 0, 230);
  padding: 8px 16px;
  border-radius: 5px;
  width: 40%;
}
/* ======= footer ======= */

.footer {
  font-size: 17px;
  font-color: aqua;
  background-color: #1f335a;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
